.spacer {
  flex: 1 1 auto;
}

mat-toolbar {

  position: fixed;
  top: 0;
  

  z-index: 1000;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
span{
  font-size: 18px;
}




.home{
  font-size: 18px;
  font-style: bold;
}
