<div class="container ">
  <div class="margintop text-center bantext">
    <p class="dashtitle">Banxico tipo de cambio FIX</p>
  </div>

  <div class="bantext text-center">
    <p class="texins">
      Seleccione la fecha inicial y fecha final para mostrar contenido
    </p>
  </div>

  <div class="forms-inputs card">
    <form (ngSubmit)="fetchExchangeRates()">
      <div class="form-group">
        <label class="bantext" for="fechaIni">Fecha Inicial</label>
        <input
          type="date"
          id="fechaIni"
          [(ngModel)]="fechaIni"
          name="fechaIni"
          class="form-control"
          required
        >
      </div>
      <div class="form-group">
        <label class="bantext" for="fechaFin">Fecha Final</label>
        <input
          type="date"
          id="fechaFin"
          [(ngModel)]="fechaFin"
          name="fechaFin"
          class="form-control"
          required
        >
      </div>
      <div class="text-center">
        <button  type="submit me-1" class="btn-submit ali">Buscar</button>

      </div>

    </form>
    <div class="mt-2" *ngIf="progressbar">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

  </div>


  <div class="text-center">
    <button class="btn-modal ms-1" (click)="openUpdateTokenDialog()">Actualizar Token</button>

  </div>




<div [hidden]="!showTable">
  <div class="box mb-5" >
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha}}</td>
      </ng-container>

      <ng-container matColumnDef="dato">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Dato</th>
        <td mat-cell *matCellDef="let element">{{ element.dato|currency }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>



  <div class="text-center align-items-end">
    <p class="name">By: Francisco Javier Moreno Laurerio</p>
  </div>



</div>




</div>


