<div class="container">

  <div class="margintop text-center dashtext">
    <p class="dashtitle">Dashboard Excel</p>
  </div>

  <div class="dashtext text-center">
    <p class="texins">
      Presione el botón de seleccionar archivo para cargar el contenido.
    </p>
  </div>

  <!-- Temperatura y la ciudad -->
  <div class="row">
    <div class="col-sm-2 card cardtempe temperature-container dashtext">
      <p class="text-temp text-center">
        {{ city }}: {{ temperature }}°C
        <svg width="25px" height="25px" viewBox="0 0 1024 1024" class="icon" version="1.1"
          xmlns="http://www.w3.org/2000/svg" fill="#000000">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M512 512m-277.333333 0a277.333333 277.333333 0 1 0 554.666666 0 277.333333 277.333333 0 1 0-554.666666 0Z" fill="#EFD358"></path>
            <path d="M85.333333 533.333333H42.666667a21.333333 21.333333 0 1 1 0-42.666666h42.666666a21.333333 21.333333 0 1 1 0 42.666666zM209.066667 230.4a21.269333 21.269333 0 0 1-15.082667-6.250667l-29.866667-29.866666a21.333333 21.333333 0 1 1 30.165334-30.165334l29.866666 29.866667A21.333333 21.333333 0 0 1 209.066667 230.4zM512 106.666667a21.333333 21.333333 0 0 1-21.333333-21.333334V42.666667a21.333333 21.333333 0 1 1 42.666666 0v42.666666a21.333333 21.333333 0 0 1-21.333333 21.333334zM814.933333 230.4a21.333333 21.333333 0 0 1-15.082666-36.416l29.866666-29.866667a21.333333 21.333333 0 1 1 30.165334 30.165334l-29.866667 29.866666a21.269333 21.269333 0 0 1-15.082667 6.250667zM981.333333 533.333333h-42.666666a21.333333 21.333333 0 1 1 0-42.666666h42.666666a21.333333 21.333333 0 1 1 0 42.666666z" fill="#EFD358"></path>
            <path d="M810.666667 1002.666667H213.333333c-105.856 0-192-86.122667-192-192s86.144-192 192-192c17.322667 0 34.624 2.453333 51.669334 7.338666A256.128 256.128 0 0 1 490.666667 490.666667a255.786667 255.786667 0 0 1 232.533333 149.290666A189.653333 189.653333 0 0 1 810.666667 618.666667c105.856 0 192 86.122667 192 192s-86.144 192-192 192z" fill="#E0E0E0"></path>
          </g>
        </svg>
      </p>
    </div>
  </div>

  <div class="file-upload-container">
    <label for="file-upload" class="file-upload-label">
      <span class="file-upload-text">Seleccionar archivo</span>
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#CCCCCC">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"></path>
      </svg>
      <input type="file" id="file-upload" (change)="onFileChange($event)">
    </label>
  </div>

  <div class="box" [hidden]="!showTable">
    <!-- Tabla para mostrar los datos -->
    <table class="tablestyle" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="{{header}}" *ngFor="let header of displayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-header">{{header}}</th>
        <td mat-cell *matCellDef="let row" class="custom-cell">
          <ng-container [ngSwitch]="header">
            <!-- Columna de fecha -->
            <span *ngSwitchCase="'FECHA_DE_NACIMIENTO'">{{ formatDate(row[header]) }}</span>
            <!-- Columnas monetarias -->
            <span *ngSwitchCase="'SALDO_ACTUAL'">{{ formatCurrency(row[header]) }}</span>
            <span *ngSwitchCase="'LIMITE_DE_CREDITO'">{{ formatCurrency(row[header]) }}</span>
            <span *ngSwitchCase="'SALDO_VENCIDO'">{{ formatCurrency(row[header]) }}</span>
            <!-- Columnas por defecto -->
            <span *ngSwitchDefault>{{row[header]}}</span>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="custom-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="custom-row"></tr>
    </table>

    <!-- Paginador -->
    <div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <div class="container">
    <div class="row calculated-data" [hidden]="!showText">
      <div class="col-md-5 card cardmm m-3">
        <p class="fw-bolder">Persona con menor saldo actual:</p>
        <p>{{ getMinSaldo().PRIMER_NOMBRE }} {{ getMinSaldo().SEGUNDO_NOMBRE }} {{ getMinSaldo().APELLIDO_PATERNO }} {{ getMinSaldo().APELLIDO_MATERNO }} con un saldo de {{ getMinSaldo().SALDO_ACTUAL | currency }}</p>
      </div>
      <div class="col-md-5 card cardmm m-3">
        <p class="fw-bolder">Persona con mayor saldo actual:</p>
        <p>{{ getMaxSaldo().PRIMER_NOMBRE }} {{ getMaxSaldo().SEGUNDO_NOMBRE }} {{ getMaxSaldo().APELLIDO_PATERNO }} {{ getMaxSaldo().APELLIDO_MATERNO }} con un saldo de {{ getMaxSaldo().SALDO_ACTUAL | currency }}</p>
      </div>
    </div>

    <div class="row calculated-data" [hidden]="!showText">
      <div class="col-md-10 card cardsum">
        <p class="text-center fw-bolder">Suma de</p>
        <p>SALDO ACTUAL: {{ getSumSaldo() | currency }}</p>
        <p>LIMITE DE CREDITO: {{ getSumLimiteCredito() | currency }}</p>
        <p>SALDO VENCIDO: {{ getSumSaldoVencido() | currency }}</p>
        <p>SALDO DISPONIBLE: {{ getSumLimiteCredito() - getSumSaldo() | currency }}</p>
      </div>
    </div>

    <div class="row" [hidden]="!showText">
      <div class="col-sm-3 card cardtotal ">
        <p class="align-middle"><span class="fw-bolder">Total de registros:</span> {{ getTotalRegistros() }}</p>
      </div>
    </div>

    <div class="row m-5" [hidden]="!showBarChart">
      <div class="col-sm-12 text-center">
        <!-- Gráfica de barras -->
        <div class="chart-section">
          <p>Gráfica de Barras - Saldo Actual por Estado</p>
          <canvas id="barChart"></canvas>
        </div>
      </div>
    </div>

    <div class="row m-5" [hidden]="!showPieChart">
      <div class="col-sm-12 text-center">
        <!-- Gráfica de pastel -->
        <div class="chart-pie-section">
          <p>Gráfica de Pie - Saldo Actual vs Saldo Disponible</p>
          <canvas id="pieChart"></canvas>
        </div>
      </div>

      <div class="text-center align-items-end">
        <p class="name">By: Francisco Javier Moreno Laurerio</p>
      </div>


      </div>

  </div>
   
 
</div>
